.home {
	opacity: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
	width: 75vw;
	height: calc(100vh - 54px);
}

.fadeOut {
	opacity: 0;
	transition: opacity 1s;
}

.fadeIn {
	opacity: 1;
	transition: opacity 1s;
}

.btn {
	padding: 12px 24px;
	font-size: 24px;
	color: #ffffff;
	background: #7452A4;
}