.test {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
	padding-top: 56px;
	width: 75vw;
	min-width: 400px;
	min-height: calc(100vh - 56px);
}

.test article {
	padding: 24px;
	width: 100%;
	text-align: center;
}

.btnWrap {
	display: flex;
	justify-content: space-between;
	margin: 0 auto;
	width: 80%;
}

.btn {
	padding: 6px 5%;
  min-width: 48px;
	font-size: 12px;
	color: #ffffff;
	background: #43216d;
}

.btn:hover {
	opacity: 0.8;
}

.btnActive {
	padding: 4px 5%;
	border: 1px solid #43216d;
	font-size: 12px;
	color: #43216d;
	background: #ffffff;
}