.test {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	margin: 0 auto;
	padding: 16px;
	width: 100%;
	min-height: 112px;
	text-align: center;
}

.test + .test {
	padding-top: 16px;
}

.buttonWrap {
	display: flex;
	justify-content: space-evenly;
	margin: 0 auto;
	width: 80%;
}

.buttonOn {
  border: 1px solid #7452A4;
  width: 15%;
  height: 24px;
  line-height: 24px;
	background-color: #ffffff;
	color: #7452A4;
	font-size: 12px;
}

.buttonOff {
  width: 15%;
  height: 24px;
  line-height: 24px;
	background-color: #7452A4;
	color: #ffffff;
	font-size: 12px;
}